body{
background: rgba(35, 62, 214, 0.287);
font: normal 15pt Arial;
}
header{
color: white;
text-align: center;
}
section{
background: white;
border-radius:  10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.383);

}


footer{
color: rgb(161, 37, 37);
font-style: italic;
text-align: center;
}